<app-navbar></app-navbar>
<div style="display: flex;width: 100%;flex-wrap: wrap;justify-content: center;">
    <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;" class="movie-card">
        <mat-card-header>
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>Directed by:{{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{movie.ImagePath}} alt="{{movie.Title}}" />
        <mat-card-actions style="justify-content: space-between;">
            <button mat-button color="primary" (click)="openGenreDialog(movie.Genre)">
                Genre
            </button>
            <button mat-button color="primary" (click)="openDirectorDialog(movie.Director)">
                Director
            </button>
            <button mat-button color="primary" (click)="openSynopsisDialog(movie.Description)">
                Synopsis
            </button>
            <button mat-icon-button *ngIf="!isFavorite(movie._id)" (click)="addToFavorite(movie._id)"
                matTooltip="Add to favorite" color="primary">
                <mat-icon color="primary">favorite_border</mat-icon>
            </button>
            <button mat-icon-button *ngIf="isFavorite(movie._id)" (click)="deleteFromFavorite(movie._id)"
                matTooltip="Remove from favorite" color="primary">
                <mat-icon color="primary">favorite</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>